


@section titulo{
    <h1>Administracion de Boletas</h1>
}

<div class="col-12">
    <div class="card ">
        <div class="card-header">
            <h5 class="card-title">Boletas de Movimiento</h5>
            <button type="button" id="btnew" class="btn btn-success float-right"><i class="fa fa-plus" aria-hidden="true"></i> Nuevo</button>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <div class="card bg-light">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-3">
                                    <div class="form-group">
                                        <label>Codigo</label>
                                        <input type="text" class="form-control form-control-sm" id="cbuscar" />
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="form-group">
                                        <label>fecha</label>
                                        <input type="date" class="form-control form-control-sm" id="fecha" />
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="form-group">
                                        <label> </label>
                                        <button type="button" id="btnbuscar" class="btn btn-info mt-3">Buscar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Codigo</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Opciones</th>
                    </tr>
                </thead>
                <tbody id="tabla">
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="modal fade " id="modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titulo">Nuevo Nueva Boleta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <h3 id="boletaCodigo"></h3>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>Fecha</label>
                            <input type="date" class="form-control form-control-sm"  id="fecha" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group">
                            <label>Facultad</label>
                            <select id="facultad" class="form-control"></select>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>Encargado</label>
                            <input type="text" class="form-control form-control-sm" placeholder="encargado" id="encargado" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="table-responsive">
                            <table class="table table-sm table-bordered table-hover">
                                <thead>
                                    <th>Nombre de Materia</th>
                                    <th>Opciones</th>
                                </thead>
                                <tbody id="tmaterias"></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12">
                        <button type="button" class="btn btn-info" id="btnmateriadd">Agregar</button>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="table-responsive">
                            <table class="table table-sm table-bordered table-hover">
                                <thead>
                                    <th>Carreras</th>
                                    <th>Opciones</th>
                                </thead>
                                <tbody id="tcarreras"></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12">
                        <button type="button" class="btn btn-info" id="btncarreraadd">Agregar</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-2">
                        <div class="form-group">
                            <label>Codigo</label>
                            <input type="text" class="form-control form-control-sm" id="descripcion">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-2">
                       <button type="button" class="btn btn-success">Agregar</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <label>Detalle de boleta</label>
                        <div class="table-responsive">
                            <table class="table table-bordered table-sm">
                                <thead>
                                <tr>
                                    <th>Cantidad</th>
                                    <th>Codigo</th>
                                    <th>Nombre del Material</th>
                                    <th>Opciones</th>
                                </tr>
                                </thead>
                                <tbody id="cuerpo"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-success" id="btnsave"><i class="fa fa-plus-circle" aria-hidden="true"></i> Guardar</button>
                <button type="button" class="btn btn-sm btn-warning" id="btnupdate"><i class="fa fa-retweet" aria-hidden="true"></i> Actualizar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modalmateria" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Materias</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="responsive-table">
            <table class="table table-bordered table-hover table-sm">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Materia</th>
                    </tr>
                </thead>
                <tbody id="tblmateriaselect" ></tbody>
            </table>
        </div>
      </div>
     
    </div>
  </div>
</div>

<div class="modal" id="modalcarrera" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Carreras</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="responsive-table">
            <table class="table table-bordered table-hover table-sm">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre de Carrera</th>
                    </tr>
                </thead>
                <tbody id="tblcarreraselect" ></tbody>
            </table>
        </div>
      </div>
     
    </div>
  </div>
</div>


@section scripts{
    <script src="~/js/custom/boleta.js?v=1"></script>
  
}
