@section titulo{
    <h1>Entradas Salidas</h1>
}

<div class="col-12">
    <div class="card ">
        <div class="card-header">
            <h5 class="card-title">Listado de Movimientos</h5>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <div class="card bg-light">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-3">
                                    <div class="form-group">
                                        <label>Codigo</label>
                                        <input type="text" class="form-control form-control-sm" id="cbuscar" />
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label>Inicio</label>
                                        <input type="date" class="form-control form-control-sm" id="finicio" />
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-4">
                                   <div class="form-group">
                                       <label>Final</label>
                                        <input type="date" class="form-control form-control-sm" id="ffin" />
                                   </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Codigo</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Usuario</th>
                        <th scope="col">Opciones</th>
                    </tr>
                </thead>
                <tbody id="tabla">
                </tbody>
            </table>
        </div>
    </div>
</div> 
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
       <div class="modal-header">
        <h5 class="modal-title">Historial de movimientos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="row">
              <div class="col-12">
                 <div class="form-group">
                     <label id="codigo"></label>
                     <input type="text" class="form-control form-control-sm"  id="nombre"  disabled/>
                 </div>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-12">
                  <div class="form-group">
                      <label>Desde</label>
                      <input type="date" class="form-control" id="fi" />
                  </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="form-group">
                        <label>Hasta</label>
                       
                            <input type="date" class="form-control" id="ff" />
                            <div class="input-group-append">
                                <button  id="btnfiltrar"  class="btn btn-info">Buscar</button>
                            </div>
                       
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-12">
                  <div class="form-group">
                      <label>Concepto</label>
                      <input type="text" class="form-control form-control-sm" id="concepto" disabled/>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-12">
                  <div class="table-responsive">
                      <table class="table table-bordered" id="tinforme" style="max-height: 150px;overflow: auto;">
                          <thead>
                              <tr>
                                  <th class="text-center">Fecha</th>
                                  <th class="text-center">Documento</th>
                                  <th class="text-center">Usuario</th>
                                  <th class="text-center">Entradas</th>
                                  <th class="text-center">Salidas</th>
                                  <th class="text-center">Saldo</th>
                              </tr>
                          </thead>
                          <tbody id="thistorial"  ></tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
      <div class="modal-footer">
          <button id="btnimprimir" class="btn btn-danger"><i class="fa fa-file" aria-hidden="true"></i> Imprimir</button>
      </div>
    </div>
  </div>
</div>

@section scripts{
    <script src="~/lib/moment/moment.js"></script>
    <script src="~/js/datatables.min.js"></script>
    <script src="~/lib/axios/axios.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.6/jspdf.plugin.autotable.min.js"></script>
    <script src="~/js/custom/movimiento.js"></script>

}
