

.fixed_header tbody {
    display: block;
    overflow: auto;
    height: 70px;
    width: 100%;
}

.fixed_header thead tr  {
    display: block;
    width:100%;
}
.fixed_header th {
    border-bottom-width: 2px;
    vertical-align: bottom;
    
    padding-top: 0.3rem;
    padding-right: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 0.3rem;
}